$primary-color: #878787;
$secondary-color: #c7eaff;
$black-color: #000000;
$white-color: #fff;
$grey-color: #dadada;
$yellow-color: #ffd200;
$green-color: #00caa9;
$green-color-dark: #00b899;
$red-color: #f6005e;
$red-color-dark: #e00157;
$blue-color: #00acee;
$blue-color-light: #e5f8ff;
$blue-color-dark: #0098d4;
$blue-color-darker: #016e99;
$orange-color: #ff9700;
$orange-color-dark: #eb8d00;
$fiolet-color: #b621fe;
$fiolet-color-dark: #9100da;



